.aheader {
  font-size: 36rpx;
  color: #4a4a4a;
  margin-left: 20rpx;
}
.aheader .tag {
  width: 80rpx;
  height: 64rpx;
  float: left;
  margin-right: 20rpx;
  line-height: 64rpx;
  text-align: center;
  box-sizing: border-box;
}
.aheader .sel {
  border-bottom: 5rpx solid #00a1e9;
  color: #000;
  box-sizing: border-box;
}

.container {
  display: block;
  padding: 0px;
  margin: 0;
  margin-top: 3rpx;
  padding-top: 64px;
}

.container .background {
  display: block;
  text-align: center;
  color: rgb(25, 128, 255);
  position: absolute;
  top: 700rpx;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
}

.container .background_kmg {
  width: 80px;
  height: 80px;
}

.item {
  height: 122rpx;
  border-top: 1rpx solid #dfdfdf;
}
.item .avatar {
  width: 80rpx;
  height: 80rpx;
  border-radius: 40rpx;
  float: left;
  margin: 21rpx 28rpx 0 32rpx;
}

.item .uname {
  float: left;
  height: 122rpx;
  line-height: 122rpx;
  font-size: 32rpx;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 66.6%;
}

page::after {
  content: '';
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rpx;
  background-color: #f7f7f7;
  z-index: 9999;
}
