node_modules
.DS_Store
lanying-im-uniapp
unpackage
.hbuilderx/*.*
floo-2.0.0.uniapp.js
floo-3.0.0.uniapp.js
lanying-im-uniapp.tar.gz

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
.hintrc

uni_modules