/**index.wxss**/
.container {
  display: block;
  padding: 0 10px;
  margin: 0;
  padding-top: 64px;
}
.avatar {
  width: 500rpx;
  height: 500rpx;
  margin: 20rpx auto 100rpx 100rpx;
  border-radius: 100rpx;
}

.txtFrame {
  font-size: 42rpx;
  height: 60rpx;
  margin-bottom: 50rpx;
}

.txtFrame .left {
  float: left;
  width: 200rpx;
  text-align: right;
}

.txtFrame .right {
  float: left;
  width: 420rpx;
  text-indent: 30rpx;
}

.back {
  height: 64rpx;
  width: 120rpx;
}
.back .back_kmg {
  width: 40rpx;
  height: 40rpx;
  margin-top: 12rpx;
}
