.container {
  display: block;
  padding: 0 30rpx;
  padding-top: 64px;
  /* background: #F7F7F7; */
  padding-bottom: 100rpx;
  /* min-height: 800px; */
  padding-top: 64px;
  text-align: center;
}

.call_time {
  position: relative;
  z-index: 6;
  font-size: 28rpx;
}

.header_view {
  margin-top: 120rpx;
  text-align: center;
  margin-bottom: 160rpx;
}

.avatar {
  width: 180rpx;
  height: 180rpx;
}

.header_view .nick {
  line-height: 58rpx;
  font-size: 42rpx;
  padding-top: 20rpx;
}

.header_view .nick .nick_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header_view .nick .nick_tips {
  font-size: 30rpx;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.button_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120rpx;
  line-height: 80rpx;
}

.button_hangup {
  padding-top: 50rpx;
}

.button_item .button_avatar {
  max-width: 80rpx;
  max-height: 80rpx;
  border-radius: 50%;
  padding: 10rpx 10rpx;
  background-color: rgb(248, 248, 248);
}
