.header_view {
  background: #4fa0ff;
  height: 346rpx;
  position: relative;
}

.header_view .avatar {
  position: absolute;
  width: 188rpx;
  height: 188rpx;
  border-radius: 94rpx;
  bottom: -14rpx;
  right: 64rpx;
  z-index: 99;
}

.header_view .nick {
  height: 58rpx;
  line-height: 58rpx;
  font-size: 42rpx;
  color: white;
  padding-top: 166rpx;
  margin-left: 74rpx;
}

.header_view .id {
  height: 34rpx;
  line-height: 34rpx;
  font-size: 24rpx;
  color: white;
  margin: 12rpx 0 0 74rpx;
}

.container {
  padding-top: 40rpx;
  padding-left: 24rpx;
  padding-right: 24rpx;
  padding-bottom: 0;
}

.container .item {
  height: 106rpx;
  border-bottom: 1rpx solid #f0f0f0;
  box-sizing: border-box;
  width: 100%;
}

.nb {
  border-bottom: none !important;
}

.container .item .sleft {
  height: 44rpx;
  line-height: 44rpx;
  margin-top: 31rpx;
  color: #9b9b9b;
  font-size: 32rpx;
  float: left;
}

.container .item .sright {
  height: 44rpx;
  line-height: 44rpx;
  margin-top: 31rpx;
  color: #4a4a4a;
  font-size: 32rpx;
  text-align: right;
}

.bindBtn {
  height: 82rpx;
  line-height: 82rpx;
  margin-top: 16rpx;
  font-size: 32rpx;
  text-align: center;
}

.sgray {
  color: #313131;
  background: #f7f7f7;
}
.sblue {
  color: white;
  background: #4fa0ff;
}
