.header_view {
  background-image: url(../../../static/pages/image/profile_bkg.png);
  height: 300rpx;
  position: relative;
}

.header_view .avatar {
  position: absolute;
  width: 188rpx;
  height: 188rpx;
  border-radius: 94rpx;
  bottom: 30rpx;
  right: 64rpx;
  z-index: 99;
}

.header_view .nick {
  height: 58rpx;
  line-height: 58rpx;
  font-size: 42rpx;
  color: white;
  padding-top: 150rpx;
  margin-left: 74rpx;
  display: inline-flex;
  max-width: 55%;
}

.header_view .nick .nick_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header_view .id {
  height: 34rpx;
  line-height: 34rpx;
  font-size: 30rpx;
  color: white;
  margin: 12rpx 0 0 74rpx;
}

.container {
  padding-top: 40rpx;
  padding-left: 24rpx;
  padding-right: 24rpx;
  padding-bottom: 0;
}

.container .item {
  height: 106rpx;
  border-bottom: 1rpx solid #f0f0f0;
  box-sizing: border-box;
  width: 100%;
}

.nb {
  border-bottom: none !important;
}

.container .item .sleft {
  height: 44rpx;
  line-height: 44rpx;
  margin-top: 31rpx;
  color: #9b9b9b;
  font-size: 32rpx;
  float: left;
}

.container .item .sright {
  height: 44rpx;
  line-height: 44rpx;
  margin-top: 31rpx;
  padding-left: 33.3%;
  color: #4a4a4a;
  font-size: 32rpx;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container .item .sright .right {
  width: 40rpx;
  height: 40rpx;
}

.buttonFrame {
  position: fixed;
  margin-top: 40rpx;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
}

.button_item {
  background: rgb(52, 119, 236);
  height: 81rpx;
  line-height: 81rpx;
  text-align: center;
  color: white;
  font-size: 32rpx;
  border-radius: 7rpx;
}
