.header_view {
  background-image: url(../../static/pages/image/profile_bkg.png);
  height: 300rpx;
  position: relative;
}

.header_view .avatar {
  position: absolute;
  width: 188rpx;
  height: 188rpx;
  border-radius: 94rpx;
  bottom: 30rpx;
  right: 64rpx;
  z-index: 99;
}

.header_view .nick {
  height: 58rpx;
  line-height: 58rpx;
  font-size: 42rpx;
  color: white;
  padding-top: 150rpx;
  margin-left: 74rpx;
  display: inline-flex;
  max-width: 55%;
}

.header_view .nick .nick_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 80%;
}

.header_view .nick .qrcode {
  width: 40rpx;
  height: 40rpx;
  margin-left: 16rpx;
  position: relative;
  top: 8rpx;
}

.header_view .id {
  height: 34rpx;
  line-height: 34rpx;
  font-size: 30rpx;
  color: white;
  margin: 12rpx 0 0 74rpx;
}

.container {
  padding-top: 40rpx;
  padding-bottom: 0;
}

.container .item {
  height: 106rpx;
  padding-left: 24rpx;
  padding-right: 24rpx;
  border-bottom: 1rpx solid #f0f0f0;
  box-sizing: border-box;
  width: 100%;
}

.container .item .sleft {
  height: 44rpx;
  line-height: 44rpx;
  margin-top: 31rpx;
  color: #4a4a4a;
  font-size: 32rpx;
  float: left;
}

.container .item .sright {
  height: 44rpx;
  line-height: 44rpx;
  margin-top: 31rpx;
  padding-left: 33.3%;
  color: #9b9b9b;
  font-size: 32rpx;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container .item .sright .right {
  width: 40rpx;
  height: 40rpx;
}

.container .item .sright .qwright {
  width: 50rpx;
  height: 50rpx;
}

.buttonFrame {
  height: 100rpx;
  line-height: 100rpx;
  width: 100%;
  text-align: center;
  color: rgb(40, 40, 40);
  font-size: 36rpx;
  border-top: 12rpx solid #f0f0f0;
  border-bottom: 12rpx solid #f0f0f0;
}

.container .item .btm_right {
  height: 106rpx;
  line-height: 44rpx;
  padding-left: 30rpx;
  padding-top: 31rpx;
  color: #4a4a4a;
  font-size: 32rpx;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.bindBtnClass {
  height: 70rpx;
  line-height: 70rpx;
  float: right;
  font-size: 28rpx;
  width: 200rpx;
  text-align: center;
  background: none;
  border: none;
  margin-top: -10rpx;
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280rpx;
  flex-direction: row;
  padding: 0 20rpx 0 0;
  font-size: 32rpx;
  background-color: rgb(245, 241, 227);
}

.popup-content-h5 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 210px;
  flex-direction: row;
  padding: 0 20rpx 0 0;
  font-size: 32rpx;
  background-color: rgb(245, 241, 227);
}

.popup-content-h5 .text-content-h5 {
  margin-top: 20px;
  padding: 30rpx 40rpx 20rpx 0;
}

.popup-content .text-content {
  padding: 30rpx 40rpx 20rpx 0;
}

.qw-qrcode {
  display: flex;
  flex-direction: column;
  padding-top: 20rpx;
  padding-left: 40rpx;
  text-align: center;
}

.service_bkg {
  width: 200rpx;
  height: 200rpx;
}
