/**index.wxss**/
.container {
  display: block;
  padding: 0 96rpx;
  margin: 0;
}

.title_text {
  font-size: 60rpx;
  padding-top: 100rpx;
}

.inputFrame {
  margin-top: 40rpx;
  height: 50rpx;
  border-bottom: 1rpx solid #eee;
  padding: 30rpx 0;
}

.inputFrame input {
  font-size: 28rpx;
  height: 40rpx;
}

.buttonFrame {
  position: absolute;
  top: 700rpx;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
}

.button_item {
  background: rgb(52, 119, 236);
  height: 81rpx;
  line-height: 81rpx;
  text-align: center;
  color: white;
  font-size: 32rpx;
  border-radius: 7rpx;
}

.switch_text {
  position: absolute;
  top: 800rpx;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
}
