.back {
  height: 64rpx;
  width: 120rpx;
}
.back .back_kmg {
  width: 40rpx;
  height: 40rpx;
  margin-top: 18rpx;
  margin-left: 20rpx;
}

.container {
  margin: 0;
  margin-top: 3rpx;
  display: block;
  padding: 0 30rpx;
  padding-top: 64px;
}

.inputFrame {
  width: 100%;
  height: 80rpx;
  border-radius: 6rpx;
  border: 1rpx solid #eee;
}

.inputFrame input {
  font-size: 28rpx;
  height: 80rpx;
  line-height: 80rpx;
  margin: 0 15rpx;
}

.bindBtn {
  height: 82rpx;
  line-height: 82rpx;
  margin-top: 16rpx;
  font-size: 32rpx;
  text-align: center;
  margin-top: 40rpx;
  margin-bottom: 60rpx;
}

.sgray {
  color: #313131;
  background: #f7f7f7;
}
.sblue {
  color: white;
  background: #4fa0ff;
}

.th {
  height: 200rpx;
}
.mt {
  margin-top: 20rpx;
}

.stxt {
  font-size: 36rpx;
  font-weight: bold;
  margin-top: 20rpx;
}

.roster_list {
  margin-top: 20rpx;
}

.item {
  height: 80rpx;
  border-top: 1rpx solid #eee;
  position: relative;
}
.item .avatar {
  width: 50rpx;
  height: 50rpx;
  border-radius: 25rpx;
  float: left;
  margin: 15rpx 20rpx 0 0;
}

.item .uname {
  float: left;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 28rpx;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 66.6%;
}

.check {
  position: absolute;
  width: 34rpx;
  height: 24rpx;
  right: 20rpx;
  top: 28rpx;
}
