/**index.wxss**/
.msgcontainer {
  display: block;
  margin: 0;
  overflow: hidden;
}

.msgcontainer .rosterInfo {
  height: 72rpx;
  width: 72rpx;
}
.msgcontainer .rosterInfo .avatar {
  width: 72rpx;
  height: 72rpx;
  border-radius: 36rpx;
}

.msgcontainer .c_content {
  max-width: 66.6%;
  border-radius: 10rpx;
  padding: 25rpx 20rpx;
  line-height: 40rpx;
  font-size: 30rpx;
}

.self .rosterInfo {
  float: right;
}
.self .c_content {
  float: right;
  background: rgb(155, 200, 255);
  margin-right: 16rpx;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.self {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.roster {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.roster .rosterInfo {
  float: left;
}
.roster .c_content {
  float: left;
  border: 1px solid rgb(240, 240, 240);
  margin-left: 16rpx;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.roster .c_content_all {
  float: left;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

.self .c_content_all {
  float: left;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.c_content_ext {
  color: gray;
}

.c_content_more {
  display: flex;
  flex-direction: row;
  padding-top: 10rpx;
  margin-right: 10rpx;
}

.c_ext_title {
  color: rgb(180, 180, 180);
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(230, 230, 230);
  font-size: 24rpx;
  min-width: 120rpx;
  max-width: 120rpx;
  text-align: center;
  margin-left: 4rpx;
  margin-right: 4rpx;
  margin-bottom: 10rpx;
}

.c_content .cimage {
  max-width: 370rpx;
  max-height: 300rpx;
}
.time {
  font-size: 18rpx;
  text-align: center;
  color: #aaa;
  padding: 20rpx 10rpx;
}
.saudio {
  width: 300rpx;
  overflow: hidden;
}

.file_frame {
  overflow: hidden;
  display: flex;
}

.file_frame .file {
  width: 60rpx;
  height: 60rpx;
  min-width: 60rpx;
  min-height: 60rpx;
  float: left;
}

.file_frame .file_name {
  margin-left: 20rpx;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.voice_frmae {
  overflow: hidden;
}
.voice_frmae .voice {
  width: 50rpx;
  height: 50rpx;
  float: left;
}
.voice_frmae .voice_duration {
  margin-left: 20rpx;
}

.location_frame {
  overflow: hidden;
  display: flex;
}

.location_frame .location {
  width: 60rpx;
  height: 60rpx;
  min-width: 60rpx;
  min-height: 60rpx;
  float: left;
}

.location_frame .location_content {
  margin-left: 20rpx;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
